name: Continuous integration

on:
  pull_request: null
  push:
    branches:
      - main

jobs:
  static-analysis:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        php-version: ['8.4', '8.5']
        command: ['cs', 'stan']
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Use PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer
          coverage: none
      - run: composer install --no-interaction --prefer-dist
      - run: composer ${{ matrix.command }}
